.achievements{
  /* border: 2px solid blue; */
  overflow: hidden;
  padding-top: 6rem;
  padding-bottom: 10rem;
  box-shadow: 20px 20px 40px rgba(0,0,0,.5);
}
.achievements__container{
  
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 7.6rem;
}

.achievements__right > p{
  margin-block: 2.6rem 3rem;
  line-height: 1.8;
}
.achievements__icons{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.6rem;
}
.achievement{
  padding-top:  6rem;
  padding-bottom:  3rem;
  background: var(--bg1);
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: var(--transition);
}
.achievement i{
  font-size: 3rem;
  border-radius: 2rem;
  padding: 2rem 1.4rem;
  background: var(--color-danger);
}
.achievement:nth-child(2) i{
  background: var(--color-success);
}
.achievement:nth-child(3) i{
  background: var(--color-primary);
}
.achievement h3{
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}
.achievement:hover{
  box-shadow: 2rem 4rem 4rem rgba(0,0,0,.3);
  z-index: 1;
}

.achievements__left img{
  width: 100%;
}
/*===============END OF ACHIEVEMENTS====================*/

.team{
  /* margin-top: 8rem; */
  overflow: hidden;
  background: var(--bg1);
  padding-top: 9rem;
  padding-bottom: 9rem;
  margin-bottom: 0;
  box-shadow: inset -10px -20px 40px rgba(0,0,0,.5);
}
.team h2{
  text-align: center;
}
.team__members{
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}
.member{
  background: var(--bg2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;
  overflow: hidden;
}
.member__image{
  width: 80%;
}
.member img{
  filter: grayscale(1);

}

.member__name{
  margin-top: 2rem;
  margin-bottom: 2.6rem;
}
.member__role{
  color: var(--color-light);
}

.member-links{
  padding-block: 1rem;
  padding-inline: 1.6rem;
  position: absolute;
  line-height: 3.2;
  background: var(--bg3);
  border-top-left-radius: 1.6rem;
  border-bottom-left-radius: 1.6rem;
  top: 50%;
  transform: translateY(-50%);
  right: -100%;
  box-shadow: -1rem 2rem 2rem rgba(0,0,0,.3);
  transition: var(--transition);
  
}

.member:hover{
  background: transparent;
  outline: 1px solid var(--bg3);
}
.member:hover img{
  filter: contrast(1);
}

.member:hover .member-links{
  right: 0;
}

/*===============END OF TEAM====================*/


/*===============MEDIA QUERIES(TABLETS)====================*/
@media screen and (max-width: 1024px) {
  .achievements__container{
    grid-template-columns: 1fr;
  }
  .achievements__left img{
    width: 80%;
    margin: 0 auto;
  }
  

/*===============END OF ACHIEVEMENTS====================*/
  .team__members{
    grid-template-columns: repeat(3, 1fr);
  }
  
/*===============END OF TEAM====================*/

}



/*===============MEDIA QUERIES(PHONES)====================*/
@media screen and (max-width: 600px) {
  
  .achievements__icons{
    grid-template-columns: repeat(2, 1fr);
  }
  

/*===============END OF ACHIEVEMENTS====================*/
  .team__members{
    grid-template-columns: repeat(2, 1fr);
  }
  .member__image{
    width: 100%;
  }
  
  .member{
    padding-top: 0;
  }
/*===============END OF TEAM====================*/

}

