:root{
  --background-color: #100020;
  --bg1:  #483D8B;
  --bg2: #6a5acd;
  --bg3: #4D4DFF;
  --color-primary: #6495ed; /*blue*/
  --color-success: #009e60; /*green*/
  --color-danger: #ff6347; /*red*/
  --color-warning: #ffd700; /*yellow*/
  --color-black: #000;
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, .5);
  --container-width-lg: 76%;
  --container-width-md: 90%;
  --container-width-sm: 94%;
  --transition: all 400ms ease;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  border: none;
  color: var(--color-white);
}
html{
  /* font-size: 10px; */
  font-size: 62.5%;
}
body{
  font-family: 'Montserrat', sans-serif;
  background: url('../images/bg-texture.png') #1D2951;
  font-size: 1.6rem;
  padding-top: 8rem;

}

img{
  display: block;
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}
h1{
  font-size: 3.8rem;
}
h2{
  font-size: 3.4rem;
}
h3{
  font-size: 2.4rem;
}
h4{
  font-size: 2.2rem;
}
h5{
  font-size: 1.3rem;
}
.container{
  width: var(--container-width-lg);
  margin: 0 auto;
}

.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  background: transparent;
  z-index: 11;
  padding-block: 2.5rem;
  height: 8rem;
  /* border: 2px solid red; */

}
.nav__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hide-screen-lg,
.show{
  font-size: 3rem;
  display: none;
}
.nav__menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6.4rem;
  font-size: 1.4rem;
}
.nav__menu a{
  transition: var(--transition);
}
.nav__menu a:hover{
  color: var(--bg1);
}

.btn{
  padding: 2.2rem 3.4rem;
  transition: var(--transition);
  font-size: 1.8rem;
  cursor: pointer;
}
.btn-danger{
  background: var(--color-danger);
  color: var(--color-white);
}
.btn-white{
  background: var(--color-white);
  color: var(--color-black);
}
.btn:hover{
  color: var(--color-white);
  background: transparent;
  outline: 1px solid var(--color-white);
}
/*===============END OF NAVBAR====================*/

header{
  height: 76vh;
  padding-top: 7rem;
  /* padding-bottom: rem; */
  overflow: hidden;
  /* margin-bottom: 0; */
}

.header__container{
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 4rem;
}
.header__left{
  padding-top: 3.6rem;
  padding-right: 6rem;
}
.header__left p{
  margin-block: 2.4rem 3rem;
  line-height: 1.6;
}

.header__right{
  height: 36rem;
}
/*===============END OF HEADER====================*/

.categories{
  /* margin-top: 4rem; */
  margin-bottom: 24rem;

  /* background: transparent; */
  background: var(--bg1);
  padding-top: 9rem;
  height: 50rem;
  /* border: 2px solid red; */
}
.categories__container{
  display: grid;
  grid-template-columns: 35% 65%;
}
.categories__left{
  padding-right: 4.9rem;
}
.categories__left p{
  margin-block: 4.8rem;
}

.categories__right{
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}
.category{
  display:flex;
  flex-direction: column;
  background: var(--bg2);
  padding: 2.5rem 3.5rem;
  height: fit-content;
  border-radius: 3rem;
  font-size: 1.4rem;
  transition: var(--transition);
}
.category:hover{
  box-shadow: 2rem 4rem 4rem rgba(0,0,0,.3);
  z-index: 1;
}
.category h5{
  margin-top: 2.5rem;
  margin-bottom: 3rem;
}
.category p{
  line-height: 1.8;
}
.category i{
  font-size: 1.8rem;
  background: var(--color-primary);
  padding: 1.2rem;
  border-radius: 1.6rem;
}
.category:nth-child(2) i{
  background-color: var(--color-danger);
}
.category:nth-child(3) i,
.category:nth-child(5) i{
  background-color: var(--color-success);
}
.category:nth-child(4) i{
  background-color: var(--color-warning);
}


/*===============END OF CATEGORIES====================*/
.courses{
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 9.6rem;
}
.courses > h2{
  margin-bottom: 7rem;
}
.courses__container{
  /* margin-top: 7rem; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.course{
  background: var(--bg1);
}
.course:hover{
  background: transparent;
  outline: 1px solid var(--bg3);
}
.course__info{
  margin-block: 3.5rem;
  padding-inline: 2rem;

}
.course__info p{
  margin-block: 3.3rem;
  line-height: 1.7;
  font-size: 1.4rem;
}
/*===============END OF POPULAR COURSES====================*/

.faqs{
  /* margin-top: 9.6rem; */
  padding-block: 10rem;
  background: var(--bg1);
  box-shadow: inset 4rem 3rem 4rem rgba(0,0,0,.3);
}
.faqs > h2{
  text-align: center;
}
.faqs__container{
  margin-top: 7rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.faq{
  padding: 4.4rem 3rem 3.2rem 3.4rem;
  display: flex;
  background: var(--bg3);
  cursor: pointer;
  height: fit-content;
}
.question__answer{
  margin-left: 2.4rem;
}
.faqs .question{
  font-size: 1.6rem;
}
.faq .answer{
  margin-top: 2.4rem;

  line-height: 1.6;
  display: none;
}
/*===============END OF FAQs====================*/

.testimonials{
  margin-top: 9.6rem;
  margin-bottom: 8.4rem;
  
}
.testimonials h2{
  text-align: center;
}
.testimonials__container{
  margin-top: 9rem;
}
.testimonial{
  padding-inline: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.testimonial__image{
  height: 10rem;
  width: 10rem;
}
.testimonial__image img{
  border-radius: 50%;
  border: 1.8rem solid var(--bg1);
}
.testimonial__info{
  text-align: center;
}
.testimonial__info p{
  font-size: 1.4rem;
  margin-top: .6rem;
}
.testimony{
  position: relative;
  background: var(--bg3);
  margin-top: 3.6rem;
  padding: 3.8rem 3rem;
  line-height: 1.5;
}
.testimony::before{
  content: '';
  width: 4.8rem;
  height: 4.8rem;
  background: linear-gradient(135deg, transparent, var(--bg3), var(--bg3));
  position: absolute;
  left: 50%;
  top: -2.4rem;
  transform: translateX(-50%) rotate(45deg);
}
.swiper-wrapper{
  margin-bottom: 9rem;
}
/*===============END OF TESTIMONIALS====================*/

footer{
  background: var(--bg1);
  /* margin-top: 8.4rem; */
  padding-top: 7.6rem;
}
.footer__container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 6.4rem;
  font-size: 1.5rem;
  gap: 6rem;
  line-height: 1.7;
}
footer h4{
  margin-bottom: 1.8rem;
}
.footer__links li{
  margin-bottom: 1.2rem;
}
.footer__links a:hover{
  text-decoration: underline;
}
.social-links{
  margin-top: 2.2rem;
  display: flex;
  gap: 1.4rem;
  font-size: 2rem;
}
.copyright{
  border-top: 1px solid var(--bg2);
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
/*===============END OF FOOTER====================*/


/*===============MEDIA QUERIES(TABLETS)====================*/
@media screen and (max-width: 1024px) {
  h1{
    font-size: 3.2rem;
  }
  h2{
    font-size: 2.8rem;
  }
  h4{
    font-size: 2.1rem;
  }
  .container{
    width: var(--container-width-md);
  }
  .nav__container{
    /* position: relative; */
  }
  .nav__menu{
    position: absolute;
    flex-direction: column;
    top: 8rem;
    right: 5rem;
    gap: 0;
    width: 29rem;
  }
  
  .nav__menu .nav__link{
    width: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    height: 9rem;

    
    transform-origin: top right;
    opacity: 0;
    transform: scale(0) rotateZ(-180deg);
    box-shadow: 1rem 3rem 4rem rgba(0,0,0,.4);
    
  }
  .nav__menu a{
    display: flex;
    width: 100%;
    height: 100%;
    background: var(--bg3);
    align-items: center;
    justify-content: center;

  }
  .show-menu .nav__link:first-child{
    animation: ani 500ms   forwards;
  }
  .show-menu .nav__link:nth-child(2){
    animation: ani 500ms  200ms forwards;
    
  }
  .show-menu .nav__link:nth-child(3){
    animation: ani 500ms 300ms  forwards;
    
  }
  .show-menu .nav__link:nth-child(4){
    animation: ani 500ms 400ms  forwards;

    
  }
  @keyframes ani {
    100%{
      opacity: 1;
      transform: scale(1) rotateZ(0);
    }
  }
  .nav__menu a:hover{
    background: var(--bg2);
    color: var(--color-white);
  }
  
  .show{
    display: block;
  }

/*===============END OF NAVBAR====================*/

  header{
    height: 55vh;
    padding-top: 0rem;
  }
  .header__left{
    padding-top: 0;
    padding-right: 0;
  }
  .header__right{
    height: 32rem;
  }
  header p{
    font-size: 1.4rem;

  }
  

/*===============END OF HEADER====================*/
  .categories{
    height: 95rem;
  }
  .categories__container{
    grid-template-columns: 1fr;
    gap: 4rem;
  }
/*===============END OF CATEGORIES====================*/

  .courses{
    margin-top: 10rem;
  }
  .courses__container{
    grid-template-columns: 1fr 1fr;
  }
/*===============END OF POPULAR COURSES====================*/

  .faqs__container{
    grid-template-columns: 1fr;
  }
  /*===============END OF FAQs====================*/

  .footer__container{
    grid-template-columns: 1fr 1fr;
  }
/*===============END OF FOOTER====================*/

}


/*===============MEDIA QUERIES(PHONES)====================*/
@media screen and (max-width: 700px) {
  
  .container{
    width: var(--container-width-sm);
  }
  


  header{
    height: 100vh;
    padding-top: 0rem;
    padding-inline: 4rem;
  }
  .header__container{
    text-align: center;
    gap: 2rem;
    grid-template-columns: 1fr;
  }
  .header__right{
    margin-inline: auto;
    align-items: center;
    justify-content: center;
    width: 40rem;
  }

/*===============END OF HEADER====================*/
  .categories{
    height: 120rem;
  }
  .categories__left p{
    line-height: 1.7;
  }
  .categories__right{
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
/*===============END OF CATEGORIES====================*/

  .courses__container{
    grid-template-columns: 1fr;
  }
  .courses__image{
    height: 32rem;
  }
/*===============END OF POPULAR COURSES====================*/

  .footer__container{
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2.8rem;
  }
  .social-links{
    justify-content: center;
  }
/*===============END OF FOOTER====================*/

}
